<div class="container p-5">
    <div class="row justify-content-center align-content-center my-5">

        <div class="text-center">
            <img src="~/MetaMapsTemplate/img/access-denied.png" style="height:200px" alt="Alternate Text" />
        </div>
        <div class="text-center">
            <h3 class="mt-3">Erişim Engellendi</h3>
            <p>Bu sayfaya erişmeye yetkiniz bulunmamaktadır. </p>
            <p>Lütfen yetkililerle iletişime geçin veya anasayfaya geri dönün. </p>
            <a asp-action="HomePage" asp-controller="Home" class="btn btn2" >Anasayfaya Dön</a>
        </div>

    </div>
</div>
