@model RegisterViewModel

<div class="container-fluid h-custom" style="padding:100px 10px">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="~/MetaMapsTemplate/img/loginPicture.svg" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h1 class="text-center pb-2 box-title">Üye Ol</h1>
            <form asp-controller="Security" asp-action="Register" method="post">
                <div class="mb-3">
                    <input type="text" asp-for="Name" class="form-control" placeholder="İsim" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <input type="text" asp-for="Surname" class="form-control" placeholder="Soyisim" />
                    <span class="text-danger" asp-validation-for="Surname"></span>
                </div>
                <div class="mb-3">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <input type="email" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
                <div class="mb-3">
                    <input type="email" asp-for="Password" class="form-control" placeholder="Şifre" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="mb-3">
                    <input type="email" asp-for="ConfirmPassword" class="form-control" placeholder="Şifre Onayla" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="text-center text-center  mt-4 pt-2">
                    <button type="submit" class="btn btn1" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        Üye Ol
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Zaten Üye misiniz? <a asp-action="Login" asp-controller="Security" style="color: #415A77">Giriş Yap</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>