<div class="container p-5">
    <div class="row justify-content-center align-content-center my-5">

        <div class="text-center">
            <img src="~/MetaMapsTemplate/img/error-404.png" style="height:200px" alt="Alternate Text" />
        </div>
        <div class="text-center">
            <h3 class="mt-3">Sayfa Bulunamadı!</h3>
            <p>Aradığınız sayfa bulunamadı lütfen anasayfaya geri dönün.</p>
            <a asp-action="HomePage" asp-controller="Home" class="btn btn1">Anasayfaya Dön</a>
        </div>

    </div>
</div>
