@model HomePageModel

@section Css{
    <link href="~/MetaMapsTemplate/css/lightslider.css" rel="stylesheet" />
    <link href="~/MetaMapsTemplate/css/roadmapslider.css" rel="stylesheet" />
}

<div class="hero">
    <h1>Alanına ait kaynaklara <span>kolayca ulaş</span></h1>
    <p>İlgilendiğin veya kendini geliştirmek istediğin yazılım alanında kullanılan teknolojilere, araçlara ve en sık
    kullanılan kütüphanelere yol haritası şeklinde erişebilir ve bunlarla ilgili paylaşılan kaynaklara göz atabilirsin.
    </p>
    <a asp-controller="RoadMap" asp-action="RoadMaps" class="btn hero-button">Hemen Başla</a>
    <div>
        <img src="~/MetaMapsTemplate/img/hero.png" />
    </div>
</div>

<div class="RoadMaps p-5">
    <div class="container">
        <h1 class="roadmap-title">Yol Haritaları</h1>
        <ul id="autoWidth" class="cs-hidden">
            @foreach (var roadMap in Model.RoadMaps)
            {
                <li><a asp-controller="RoadMap" asp-action="RoadMapDetail" asp-route-id="@roadMap.Id">
                    <div class="box">
                        @if (roadMap.Image == null)
                        {
                            <img src="~/Images/RoadMaps/default.png" alt="" class="model">
                        }
                        else
                        {
                            <img src=~/Images/RoadMaps/@roadMap.Image alt="" class="model">
                        }
                        <p class="title">@roadMap.Name</p>
                        <p class="detail mb-2" style="height: 75px; width: 100%; overflow-y: hidden;">@roadMap.Description</p>
                    </div></a>
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts{
    <script src="~/MetaMapsTemplate/js/lightslider.js"></script>
    <script>
        $(document).ready(function () {
            $('#autoWidth').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth').removeClass('cS-hidden');
                }
            });
        });
    </script>
}