@{
    Layout = null;
}

<footer class="py-5">
    <div class="container">
        <div class="text-center mb-4">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item display-5"><a target="_blank" href="https://www.youtube.com/channel/UCnLnWcUN_zVt690O9mmGyzQ"><i class="fab fa-youtube"></i></a></li>
                <li class="list-inline-item display-5"><a target="_blank" href="https://www.instagram.com/huseyinyazc/"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item display-5"><a target="_blank" href="https://github.com/huseyinyazicii"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item display-5"><a target="_blank" href="https://www.linkedin.com/in/h%C3%BCseyin-yaz%C4%B1c%C4%B1-14b803201/"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <div class="text-center mb-2 text-white">
            <h5>© Copyright, since 2022 | Tüm Hakları Saklıdır | Bağımsız Bir Organizasyondur</h5>
        </div>
    </div>
</footer>