@model RoleModel

<h1 class="mb-3">
    Rol Oluştur
    <a asp-action="RoleList" asp-controller="Admin" asp-area="Admin" class="btn btn2" style="float: right;">Roller</a>
</h1>

<form asp-action="RoleCreate" asp-controller="Admin" asp-area="Admin" method="post">
    <div class="form-group">
        <label asp-for="Name">Rol İsmi</label>
        <input type="text" class="form-control" asp-for="Name">
        <span class="form-text text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Rolü Kaydet</button>
    </div>
</form>