<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <link href="~/AdminPanel/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Libraries/FontAwesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/AdminPanel/css/sb-admin.css" rel="stylesheet">

    @RenderSection("Css", false)

</head>

<body id="page-top">

    @await Component.InvokeAsync("Navbar")

    <div id="wrapper">

        <partial name="~/Areas/Admin/Views/Shared/LayoutPartialViews/Sidebar.cshtml" />

        <div id="content-wrapper">

            <div class="container-fluid">

                @RenderBody()

            </div>

            <!-- Footer -->
            <div class="pt-5">
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Tüm Hakları Saklıdır | MetaMaps</span>
                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış Yap</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Çıkış yapmak istediğinizden emin misiniz?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Geri dön</button>
                    <a class="btn btn-primary" asp-action="Logout" asp-controller="Security" asp-area="">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Libraries/Jquery/jquery.min.js"></script>
    <script src="~/Libraries/Jquery-Validate/jquery.validate.min.js"></script>
    <script src="~/Libraries/Jquery-Validate-Unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminPanel/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminPanel/js/sb-admin.js"></script>
    @await Component.InvokeAsync("Notyf")

    @RenderSection("Scripts", false)

</body>
</html>